/* Load the font */

@font-face {
  font-family: 'ServerWingdings';
  src: url('./fonts/Wingdings/wingding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Liberation Sans';
  src: url(./fonts/liberation_sans/LiberationSans-Regular.ttf) format('truetype');
  font-weight: 450;
}

/*ALL PAGES*/
.header {
  grid-column: 1 / -1;
  height: auto;
  align-self: center;
  width: auto;
  text-align: center;
}
.navigationelement {
  border: none;
}

body {
  font-family: 'Liberation Sans', 'Arial Bold', sans-serif;
}
a {
  text-decoration: underline;
}
/*INDEX / HOMEPAGE*/
.body-default {
  background-color: #000000;
  color: #ffffff;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(./images/thumbnails/clouds-t.jpg);
}
.parent-default {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  
  gap: 5px;
  height: 100%;
  border: none;
}
.maintxt {
  grid-column-start: 1;
  grid-row-start: 2;
  width: auto;
  overflow-wrap: break-word;
}
.specs {
  grid-column-start: 2;
  grid-row-start: 2;
  width: auto;
  height: auto;

}
.misc {
  grid-column-start: 1;
  grid-row-start: 3;
  overflow-wrap: break-word;
}
.thingsidontlike {
  grid-column-start: 2;
  grid-row-start: 3;
}

div {
  padding: 8px;
  border: 1px solid white
}
a {
  color: yellow;
}
.center {
  text-align: center
} 
table {
  border-collapse: collapse; /* Remove spacing between cells */
  border: 1px solid black; /* Add outer border */
}
#dontlike {
  width: 100%;
  border: 2px solid rgba(255, 255, 0, 0);
}
#dontlike li {
  margin-left: 0%;
  text-indent: 0px
}
td, th {
  border: 1px solid rgb(185, 185, 185); /* Add inner borders to cells and headers */
  padding: 5px;
}
/*TECHSPECS*/
.body-techspecs {
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: url(./images/thumbnails/rails_dark-t.jpg);
}
.parent-techspecs {
  border: none;
  display: grid;
  
  grid-template-rows: auto auto;
  grid-template-columns: 66% 33%;
  gap: 5px;
}
.main-text {
  grid-column: 1;
  grid-row: 2;
  overflow-wrap: break-word;
}
.otherdiv {
  display: grid;
  grid-column: 2;
  grid-row: 2;  
}
.otherdiv img {
  width: 99%;
  padding: 12px 5px 2px 2px;
}
@media only screen and (max-width: 768px) {
  .parent-techspecs {
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
  }
  .main-text {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .otherdiv {
    grid-column-start: 1;
    grid-row-start: 3;
    align-items: center;
  }
  .otherdiv table {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} /*end media query*/

/*GALLERY*/

.body-gallery {
  background-color: #070709;
  color: #ffffff;
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: url(./images/thumbnails/clouds-t.jpg);
}
.body-gallerychild {
  background-color: #070709;
  color: #ffffff;
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-image: url(./images/thumbnails/clouds-t.jpg);
}
.main-gallery {
  display: grid;
  grid-template-columns: repeat(auto, 2);
  grid-template-rows: repeat(auto, 4);
  border: none;
}

.container-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adds space between grid items */
}
.container-gallerychild {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: 10px; /* Adds space between grid items */
}
.tile {
  border: 1px solid #ccc; /* Adds borders around grid items */
  padding: 10px; /* Adds padding inside grid items */
  text-align: center;
  
}

.tile img {
  width: 95%;
  height: auto;
  object-fit: scale-down; /* Ensures images cover the area without stretching */
}

.tile p a {
  color: inherit; /* Inherits the color of the parent element */
  text-decoration: none; /* Removes underline from links */
}
#lamp-post {
  color: yellow;
}
@media only screen and (max-width: 768px) {
  .container-gallery {
    display: grid;
    grid-template-columns: auto;
    gap: 10px; /* Adds space between grid items */
  }
}
@media screen and (min-width: 769px) and (max-width: 1399px) {
  .container-gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; /* Adds space between grid items */
  }
}

/* LAPTOP */
/*
.laptop-pic {
  width: 100%;
  height: auto;
}
  */